.App {
  text-align: center;
}

.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: larger;
}
.banner div{
  font-size: 24px;
}
button{
  font-size: 30px;
  background-color: rgb(231, 73, 73);
  color: white;
  margin: 15px;
  border-radius: 5px;
}
.addScore{
  font-size: 24px;
  margin-left: 20px;
}
.addWicket{
  font-size: 24px;
  margin-left: 20px;
}
.addBall{
  font-size: 24px;
  margin: 5px;
  margin-left: 20px;
}